body, h1, h2, h3, p, ul, li {
    margin: 0;
    padding: 0;
}

body {
    background-color: #f0f0f0;
    font-family: Arial, sans-serif;
}

h1 {
    background-color: #007BFF;
    color: #fff;
    padding: 20px;
    text-align: center;
}

.container {
    max-width: 800px;
    margin: 20px auto;
    background-color: #fff;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

#table-of-contents {
    background-color: #007BFF;
    color: #fff;
    padding: 10px;
    border-radius: 5px;
}

h2, h3 {
    margin-top: 20px;
    padding-top: 10px;
    border-top: 1px solid #ccc;
}

h3 {
    margin-top: 30px;
}

code {
    background-color: #f0f0f0;
    padding: 2px 4px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-family: monospace;
}

a {
    color: #007BFF;
    text-decoration: none;
    transition: color 0.3s;
}

a:hover {
    color: #0056b3;
}

.success-response, .error-response {
    margin: 20px 0;
    padding: 10px;
    border: 1px solid #ccc;
    background-color: #f0f8ff; 
}

.example-url {
    font-weight: bold;
    color: #007BFF;
}

.footer {
    text-align: center;
    margin-top: 20px;
    color: #777;
}

@media (max-width: 768px) {
    .container {
        margin: 10px;
        padding: 10px;
    }
}
